@charset "utf-8";
/* CSS Document */

@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@100;300;400;500;700;800;900&display=swap");

:root {
  font-size: 16px;
  /*Color Styles*/
  --day: #e5e5e5;
  --night: #191919;
  --dayGradient: linear-gradient(0deg, #d9d8fd 0%, #46c8f5 100%);
  --nightGradient: linear-gradient(0deg, #030227 0%, #402cc2 100%);
  /*Effect Styles*/
  --socialFilter: drop-shadow(0px 0px 0px rgba(170, 170, 190, 0.75));
  --socialBackdrop: blur(20px);
  /*Settings*/
  --margin: 32px;
  --pading: 60px;
  --social: 106px;
  /*Font Weight*/
  --thin: 100;
  --light: 300;
  --regular: 400;
  --medium: 500;
  --bold: 700;
  --extra-bold: 800;
  --black: 900;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  background: white none repeat scroll 0% 0%;
  color: var(--night);
}

body {
  display: box;
}

span,
p,
a,
button {
  text-decoration: none;
}

h1 {
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-size: 4rem;
  font-weight: var(--extra-bold);
  text-decoration: none;
  margin: none;
}

h2 {
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-size: 2.375rem;
  font-weight: var(--extra-bold);
  text-decoration: none;
  margin: none;
}

p {
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-size: 1.125rem;
  font-weight: var(--extra-bold);
  text-decoration: none;
  margin: none;
}

a {
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-size: 1.125rem;
  font-weight: var(--extra-bold);
  text-decoration: none;
  margin: none;
}

cont {
  display: grid;
  padding: var(--margin);
  grid-template-columns: 442px 442px minmax(var(--margin), 427px);
  grid-template-rows: auto;
  grid-gap: var(--margin) var(--margin);
  justify-content: center;
}

gradient {
  grid-column: 3;
  grid-row: 1 / span 8;
  align-self: stretch;
  display: flex;
  background: var(--dayGradient);
}

.homebutton {
  grid-column: 2;
}

box {
  grid-column: 1 / span 2;
  display: grid;
  width: 100%;
  position: relative;
  background-color: var(--day);
  padding: var(--pading);
}

.left {
  grid-column: 1;
}

.right {
  grid-column: 2;
}

boxFooter {
  grid-column: 1 / span 2;
  display: grid;
  grid-template-columns: repeat(auto-fill, var(--social));
  grid-template-rows: repeat(auto-fill, var(--social));
  grid-gap: var(--margin) var(--margin);
  width: 100%;
  position: relative;
  background-color: var(--day);
  padding: var(--pading);
}

txt {
  grid-column: 1;
  grid-row: 1;
  z-index: 2;
  display: flex;
  flex-direction: column;
}

txtTitle {
  grid-column: 1;
  grid-row: 1;
  z-index: 2;
}

logo {
  grid-column: 1;
  grid-row: 1;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: flex-end;
  align-content: flex-start;
}

logo img {
  width: 124px;
  height: 124px;
}

iphone {
  grid-column: 1;
  grid-row: 1;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: flex-end;
  align-content: flex-start;
}

.tryit {
  width: 250px;
  align-self: flex-start;
  margin-top: 40px;
}

.iPhoneFrame {
  position: relative;
  display: block;
  width: 286px;
  height: 587px;
  overflow: hidden;
  align-self: center;
  justify-self: center;
}

iPhone iframe {
  position: absolute;
  right: calc(var(--pading) + 14px);
  top: calc(var(--pading) + 14px);
  width: 258px;
  height: 558px;
  border-radius: 27px;
  z-index: 3;
}

rustic {
  grid-column: 1;
  grid-row: 1;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: flex-end;
  align-content: flex-start;
}

rustic img {
  width: 382px;
  height: 434px;
}

exponential {
  grid-column: 1;
  grid-row: 1;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: flex-end;
  align-content: flex-start;
}

exponential img {
  width: 382px;
  height: 89px;
}

appleWatch {
  grid-column: 1;
  grid-row: 1;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: flex-end;
  align-content: flex-start;
}

appleWatch img {
  width: 180px;
  height: 225px;
}

faceFilter {
  grid-column: 1;
  grid-row: 1;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: flex-end;
  align-content: flex-start;
}

faceFilter img {
  width: 225px;
  height: 225px;
}

innerShell {
  grid-column: 1;
  grid-row: 1;
  display: flex;
  width: 100%;
  height: 215px;
  justify-content: flex-end;
  align-content: flex-start;
}

innerShell a {
  position: absolute;
  right: calc(var(--pading) + 161px);
  bottom: calc(var(--pading) + 71px);
  z-index: 3;
}

innerShell img {
  width: 382px;
  height: 100%;
}

blissPopint {
  grid-column: 1;
  grid-row: 1;
  display: flex;
  width: 100%;
  height: calc(var(--pading) * 2);
  justify-content: flex-end;
  align-content: flex-start;
}

blissPopint svg {
  width: 100%;
  height: 64.21px;
}

risingSun {
  grid-column: 1;
  grid-row: 1;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: flex-end;
  align-content: flex-start;
}

risingSun img {
  width: 225px;
  height: 225px;
}

.button {
  width: 149px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  color: var(--day);
  background: var(--night);
  margin-top: var(--margin);
}

.buttonHome {
  width: 149px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  color: var(--day);
  background: var(--night);
}

.left .button,
.right .button {
  position: absolute;
  bottom: var(--pading);
}

.social {
  margin-right: var(--margin);
  filter: var(--socialFilter);
  backdrop-filter: var(--socialBackdrop);
}

.social img {
  width: var(--social);
  height: var(--social);
}

/*jhygasdf*/

cont2 {
  display: grid;
  padding: var(--margin);
  grid-template-columns: minmax(var(--margin), 1375px);
  grid-gap: var(--margin) var(--margin);
  justify-content: center;
}

box2 {
  grid-column: 1;
  display: grid;
  grid-template-columns: auto;
  grid-gap: var(--margin) var(--margin);
  width: 100%;
  position: relative;
  background-color: var(--day);
  padding: var(--pading);
}

box2 img {
  width: 100%;
}

/*explorer css*/
.expTitle {
  grid-column: 2;
  margin-top: 64px;
}
.expBriefing {
  grid-column: 2;
  margin-top: 64px;
}
.expChallenge {
  grid-column: 2;
  margin-top: 64px;
}
.expFeatures {
  grid-column: 2;
  margin-top: 64px;
}
.expPostIt {
  grid-column: 2;
  margin-top: 64px;
}
.featuresPostItTitle {
  margin-bottom: 8px;
}
.featuresPostIt {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(4, 1fr);
}
.featuresPostIt p {
  margin: 4px;
}
.bluePostIt {
  background: #93a0ba;
  color: white;
  border-radius: 4px;
  overflow: hidden;
  margin: 2px;
}
.bluePostItTop {
  background: #6d7fa2;
  width: 100%;
  height: 24px;
}
.greyPostIt {
  background: #919398;
  color: white;
  border-radius: 4px;
  overflow: hidden;
  margin: 2px;
}
.greyPostItTop {
  background: #6b6d74;
  width: 100%;
  height: 24px;
}
.emptyPostIt {
  border-radius: 4px;
  overflow: hidden;
  margin: 2px;
}
.researchPostIt {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.researchPostItTitle {
  margin-top: 16px;
  margin-bottom: 8px;
}
.researchPain {
  grid-column: 1;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
}
.researchPain p {
  margin: 4px;
}
.researchQuestions {
  grid-column: 2;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
}
.researchQuestions p {
  margin: 4px;
}
.pinkPostIt {
  background: #eca18d;
  color: white;
  border-radius: 4px;
  overflow: hidden;
  margin: 2px;
}
.pinkPostItTop {
  background: #db9683;
  width: 100%;
  height: 24px;
}
.yellowPostIt {
  background: #efad27;
  color: white;
  border-radius: 4px;
  overflow: hidden;
  margin: 2px;
}
.yellowPostItTop {
  background: #e99019;
  width: 100%;
  height: 24px;
}
.expZone03 {
  display: grid;
  grid-template-columns: 32px repeat(3, 1fr) 32px;
  position: relative;
}
.expMoodBoard {
  grid-column: 2;
  margin-top: 64px;
}
.expMoodBoard img {
  width: 100%;
  margin-top: 16px;
}
.expColours {
  grid-column: 2;
  margin-top: 64px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
.expColours h3 {
  grid-column: 1 / span all;
  margin-bottom: 16px;
}
.expColoursSig {
  grid-column: 1 / span 2;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.expColoursSig p {
  grid-column: 1 / span 2;
  margin-bottom: 8px;
}
.accentColour {
  background: #d96e1e;
  color: white;
  border-radius: 4px;
  overflow: hidden;
  margin: 2px;
  height: 128px;
}
.accentColour p {
  margin: 4px;
}
.backgroundColour {
  background: #fffbf2;
  color: black;
  border-radius: 4px;
  overflow: hidden;
  margin: 2px;
  height: 128px;
}
.backgroundColour p {
  margin: 4px;
}
.expColoursLoc {
  grid-column: 3 / span 3;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.expColoursLoc p {
  grid-column: 1 / span all;
  margin-bottom: 8px;
}
.seasideColour {
  background: #1ec6d9;
  color: white;
  border-radius: 4px;
  overflow: hidden;
  margin: 2px;
  height: 128px;
}
.seasideColour p {
  margin: 4px;
}
.parksColour {
  background: #768c45;
  color: white;
  border-radius: 4px;
  overflow: hidden;
  margin: 2px;
  height: 128px;
}
.parksColour p {
  margin: 4px;
}
.cityColour {
  background: #bf9a78;
  color: white;
  border-radius: 4px;
  overflow: hidden;
  margin: 2px;
  height: 128px;
}
.cityColour p {
  margin: 4px;
}

.expDesign {
  grid-column: 2;
  margin-top: 64px;
}
.expDesign img {
  margin-top: 16px;
  width: 100%;
}
.expConclusion {
  grid-column: 2;
  margin-top: 64px;
}
.expFeedback {
  grid-column: 2;
  margin-top: 64px;
}
.expFeedbackCont {
  margin-top: 16px;
  display: grid;
  grid-template-columns: 128px 1fr;
  grid-template-rows: 1fr;
  column-gap: 16px;
}

.expFeedbackName {
  grid-column: 1;
}
.expFeedbackName a {
  grid-column: 1;
}
.expFeedbackName img {
  width: 100%;
  border-radius: 100%;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
}
.expFeedbackComs {
  grid-column: 2;
  align-self: end;
}

/*Casa Rustica css*/

.crTitle {
  grid-column: 2;
  margin-top: 64px;
}
.crBriefing {
  grid-column: 2;
  margin-top: 64px;
}

.crLogo {
  grid-column: 2;
  margin-top: 64px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.crRequirements {
  grid-column: 1;
  margin-top: 64px;
  margin-right: 16px;
}
.crMoodBoard {
  grid-column: 2 / span 2;
  margin-top: 64px;
  margin-left: 16px;
  width: 100%;
}
.crMoodBoard p {
  display: flex;
  width: 100%;
  justify-content: center;
}
.crMoodBoard img {
  width: 100%;
}
.crProcess {
  grid-column: 2;
  margin-top: 64px;
}
.crProcess img {
  margin-top: 16px;
  width: 100%;
  background-color: white;
  padding: 10px;
  border-radius: 10px;
}
.crStationary {
  grid-column: 2;
  margin-top: 64px;
}
.crStationary img {
  width: 100%;
  margin-top: 16px;
}
.crPictures {
  grid-column: 2;
  margin-top: 64px;
}
.crPicturesImg {
  margin-top: 64px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-column-gap: 4px;
  grid-row-gap: 4px;
  align-items: center;
}
.crPicturesImg img {
  width: 100%;
}
.crOnline {
  grid-column: 2;
  margin-top: 64px;
}
.crOnlineCnt {
  margin-top: 16px;
  position: relative;
  padding-bottom: 33%;
  overflow: hidden;
}
.crOnlineCnt img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.crResult {
  grid-column: 2;
  margin-top: 64px;
}
.crComment {
  grid-column: 2;
  margin-top: 64px;
  margin-bottom: 64px;
}

/*exponential-e css*/

.expoTitle {
  grid-column: 2;
  margin-top: 64px;
}

.expoVideosTitle {
  grid-column: 2;
  margin-top: 64px;
}
.expoVideosCnt {
  grid-column: 2;
  margin-top: 16px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-column-gap: 4px;
  grid-row-gap: 4px;
  align-items: center;
}
.expoMotionTitle {
  grid-column: 2;
  margin-top: 64px;
}
.expoMotionCnt {
  grid-column: 2;
  margin-top: 16px;
  margin-bottom: 64px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-column-gap: 4px;
  grid-row-gap: 4px;
  align-items: center;
}
.expoPrintTitle {
  grid-column: 2;
  margin-top: 64px;
}
.expoPrintCnt {
  grid-column: 2;
  margin-top: 16px;
  margin-bottom: 64px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  grid-column-gap: 4px;
  grid-row-gap: 4px;
  align-items: center;
}
.expoPrintCnt img {
  width: 100%;
}
.expoSocialTitle {
  grid-column: 2;
  margin-top: 64px;
}
.expoSocialCnt {
  grid-column: 2;
  margin-top: 16px;
  margin-bottom: 64px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-column-gap: 4px;
  grid-row-gap: 4px;
  align-items: center;
}
.expoSocialCnt img {
  width: 100%;
}

/*Video Background*/
.backgroundVideo {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  z-index: -1;
}

.videoWrapper {
  position: relative;
  padding-bottom: 56.25%;
}
.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media (prefers-color-scheme: dark) {
  body {
    background: black none repeat scroll 0% 0%;
    color: var(--day);
  }

  .button {
    color: var(--night);
    background: var(--day);
  }

  .buttonHome {
    color: var(--night);
    background: var(--day);
  }

  box {
    background-color: var(--night);
  }

  box2 {
    background-color: var(--night);
  }

  boxFooter {
    background-color: var(--night);
  }

  gradient {
    background: var(--nightGradient);
  }

  blissPopint svg {
    fill: white;
  }
}

@media screen and (max-width: 1045px) {
  cont {
    grid-template-columns: minmax(var(--margin), 1fr) minmax(var(--margin), 1fr);
  }

  gradient {
    display: none;
  }
}

@media screen and (max-width: 800px) {
  h1 {
    font-size: 3rem;
  }

  .left,
  .right {
    grid-column: 1 / span 2;
  }

  .explorerTxt p {
    margin-top: 770px;
  }

  .tryit {
    margin-top: 50px;
  }

  iphone {
    display: grid;
    justify-content: center;
  }

  iPhone iframe {
    right: calc(var(--pading) + 50% - 190px);
    top: calc(var(--pading) + 221px);
  }
}

@media screen and (max-width: 566px) {
  cont {
    zoom: 0.85;
  }

  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.875rem;
  }

  p {
    font-size: 1rem;
  }

  rustic img {
    width: 100%;
    height: 100%;
  }

  exponential {
    align-content: center;
  }

  exponential img {
    width: 100%;
    height: 100%;
  }

  appleWatch img {
    width: 100%;
    height: 100%;
  }

  faceFilter img {
    width: 100%;
    height: 100%;
  }

  innerShell {
    width: 100%;
    height: 100%;
  }

  innerShell img {
    width: 100%;
    height: 100%;
  }

  blissPopint svg {
    width: 100%;
    height: var(--pading);
  }

  risingSun img {
    width: 100%;
    height: 100%;
  }
}
