@charset "utf-8";
@import url(https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@100;300;400;500;700;800;900&display=swap);
:root {
  font-size: 16px;
  --day: #e5e5e5;
  --night: #191919;
  --dayGradient: linear-gradient(0deg, #d9d8fd 0%, #46c8f5 100%);
  --nightGradient: linear-gradient(0deg, #030227 0%, #402cc2 100%);
  --socialFilter: drop-shadow(0px 0px 0px rgba(170, 170, 190, 0.75));
  --socialBackdrop: blur(20px);
  --margin: 32px;
  --pading: 60px;
  --social: 106px;
  --thin: 100;
  --light: 300;
  --regular: 400;
  --medium: 500;
  --bold: 700;
  --extra-bold: 800;
  --black: 900;
}
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
body,
html {
  background: #fff none repeat scroll 0 0;
  color: var(--night);
}
body {
  display: box;
}
a,
button,
p,
span {
  text-decoration: none;
}
h1 {
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-size: 4rem;
  font-weight: var(--extra-bold);
  text-decoration: none;
  margin: none;
}
h2 {
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-size: 2.375rem;
  font-weight: var(--extra-bold);
  text-decoration: none;
  margin: none;
}
p {
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-size: 1.125rem;
  font-weight: var(--extra-bold);
  text-decoration: none;
  margin: none;
}
a {
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-size: 1.125rem;
  font-weight: var(--extra-bold);
  text-decoration: none;
  margin: none;
}
cont {
  display: -ms-grid;
  display: grid;
  padding: var(--margin);
  -ms-grid-columns: 442px var(--margin) 442px var(--margin)
    minmax(var(--margin), 427px);
  grid-template-columns: 442px 442px minmax(var(--margin), 427px);
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  grid-gap: var(--margin) var(--margin);
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
cont > :nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}
cont > :nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}
cont > :nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
}
gradient {
  -ms-grid-column: 3;
  grid-column: 3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 8;
  grid-row: 1 / span 8;
  align-self: stretch;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: var(--dayGradient);
}
.homebutton {
  -ms-grid-column: 1;
  grid-column: 1;
}
box {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / span 2;
  display: -ms-grid;
  display: grid;
  width: 100%;
  position: relative;
  background-color: var(--day);
  padding: var(--pading);
}
.left {
  -ms-grid-column: 1;
  grid-column: 1;
}
.right {
  -ms-grid-column: 2;
  grid-column: 2;
}
boxFooter {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / span 2;
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fill, var(--social));
  grid-template-rows: repeat(auto-fill, var(--social));
  grid-gap: var(--margin) var(--margin);
  width: 100%;
  position: relative;
  background-color: var(--day);
  padding: var(--pading);
}
txt {
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 1;
  grid-row: 1;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
txtTitle {
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 1;
  grid-row: 1;
  z-index: 2;
}
logo {
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 1;
  grid-row: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -ms-flex-line-pack: start;
  align-content: flex-start;
}
logo img {
  width: 124px;
  height: 124px;
}
iphone {
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 1;
  grid-row: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -ms-flex-line-pack: start;
  align-content: flex-start;
}
.tryit {
  width: 250px;
  -ms-flex-item-align: start;
  align-self: flex-start;
  margin-top: 40px;
}
.iPhoneFrame {
  position: relative;
  display: block;
  width: 286px;
  height: 587px;
  overflow: hidden;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  -ms-grid-column-align: center;
  justify-self: center;
}
iPhone iframe {
  position: absolute;
  right: calc(var(--pading) + 14px);
  top: calc(var(--pading) + 14px);
  width: 258px;
  height: 558px;
  border-radius: 27px;
  z-index: 3;
}
rustic {
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 1;
  grid-row: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -ms-flex-line-pack: start;
  align-content: flex-start;
}
rustic img {
  width: 382px;
  height: 434px;
}
exponential {
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 1;
  grid-row: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -ms-flex-line-pack: start;
  align-content: flex-start;
}
exponential img {
  width: 382px;
  height: 89px;
}
appleWatch {
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 1;
  grid-row: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -ms-flex-line-pack: start;
  align-content: flex-start;
}
appleWatch img {
  width: 180px;
  height: 225px;
}
faceFilter {
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 1;
  grid-row: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -ms-flex-line-pack: start;
  align-content: flex-start;
}
faceFilter img {
  width: 225px;
  height: 225px;
}
innerShell {
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 1;
  grid-row: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 215px;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -ms-flex-line-pack: start;
  align-content: flex-start;
}
innerShell a {
  position: absolute;
  right: calc(var(--pading) + 161px);
  bottom: calc(var(--pading) + 71px);
  z-index: 3;
}
innerShell img {
  width: 382px;
  height: 100%;
}
blissPopint {
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 1;
  grid-row: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: calc(var(--pading) * 2);
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -ms-flex-line-pack: start;
  align-content: flex-start;
}
blissPopint svg {
  width: 100%;
  height: 64.21px;
}
risingSun {
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 1;
  grid-row: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -ms-flex-line-pack: start;
  align-content: flex-start;
}
risingSun img {
  width: 225px;
  height: 225px;
}
.button {
  width: 149px;
  height: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-radius: 10px;
  color: var(--day);
  background: var(--night);
  margin-top: var(--margin);
}
.buttonHome {
  width: 149px;
  height: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-radius: 10px;
  color: var(--day);
  background: var(--night);
}
.left .button,
.right .button {
  position: absolute;
  bottom: var(--pading);
}
.social {
  margin-right: var(--margin);
  -webkit-filter: var(--socialFilter);
  filter: var(--socialFilter);
  -webkit-backdrop-filter: var(--socialBackdrop);
  backdrop-filter: var(--socialBackdrop);
}
.social img {
  width: var(--social);
  height: var(--social);
}
cont2 {
  display: -ms-grid;
  display: grid;
  padding: var(--margin);
  -ms-grid-columns: minmax(var(--margin), 1375px);
  grid-template-columns: minmax(var(--margin), 1375px);
  grid-gap: var(--margin) var(--margin);
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
box2 {
  -ms-grid-column: 1;
  grid-column: 1;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto;
  grid-template-columns: auto;
  grid-gap: var(--margin) var(--margin);
  width: 100%;
  position: relative;
  background-color: var(--day);
  padding: var(--pading);
}
box2 img {
  width: 100%;
}
.expTitle {
  -ms-grid-column: 1;
  grid-column: 1;
  margin-top: 64px;
}
.expBriefing {
  -ms-grid-column: 1;
  grid-column: 1;
  margin-top: 64px;
}
.expChallenge {
  -ms-grid-column: 1;
  grid-column: 1;
  margin-top: 64px;
}
.expFeatures {
  -ms-grid-column: 1;
  grid-column: 1;
  margin-top: 64px;
}
.expPostIt {
  -ms-grid-column: 1;
  grid-column: 1;
  margin-top: 64px;
}
.featuresPostItTitle {
  margin-bottom: 8px;
}
.featuresPostIt {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr) [5];
  grid-template-columns: repeat(5, 1fr);
  -ms-grid-rows: (1fr) [4];
  grid-template-rows: repeat(4, 1fr);
}
.featuresPostIt > :nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}
.featuresPostIt > :nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
}
.featuresPostIt > :nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}
.featuresPostIt > :nth-child(4) {
  -ms-grid-row: 1;
  -ms-grid-column: 4;
}
.featuresPostIt > :nth-child(5) {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
}
.featuresPostIt > :nth-child(6) {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
}
.featuresPostIt > :nth-child(7) {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
}
.featuresPostIt > :nth-child(8) {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
}
.featuresPostIt > :nth-child(9) {
  -ms-grid-row: 2;
  -ms-grid-column: 4;
}
.featuresPostIt > :nth-child(10) {
  -ms-grid-row: 2;
  -ms-grid-column: 5;
}
.featuresPostIt > :nth-child(11) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}
.featuresPostIt > :nth-child(12) {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
}
.featuresPostIt > :nth-child(13) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}
.featuresPostIt > :nth-child(14) {
  -ms-grid-row: 3;
  -ms-grid-column: 4;
}
.featuresPostIt > :nth-child(15) {
  -ms-grid-row: 3;
  -ms-grid-column: 5;
}
.featuresPostIt > :nth-child(16) {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
}
.featuresPostIt > :nth-child(17) {
  -ms-grid-row: 4;
  -ms-grid-column: 2;
}
.featuresPostIt > :nth-child(18) {
  -ms-grid-row: 4;
  -ms-grid-column: 3;
}
.featuresPostIt > :nth-child(19) {
  -ms-grid-row: 4;
  -ms-grid-column: 4;
}
.featuresPostIt > :nth-child(20) {
  -ms-grid-row: 4;
  -ms-grid-column: 5;
}
.featuresPostIt p {
  margin: 4px;
}
.bluePostIt {
  background: #93a0ba;
  color: #fff;
  border-radius: 4px;
  overflow: hidden;
  margin: 2px;
}
.bluePostItTop {
  background: #6d7fa2;
  width: 100%;
  height: 24px;
}
.greyPostIt {
  background: #919398;
  color: #fff;
  border-radius: 4px;
  overflow: hidden;
  margin: 2px;
}
.greyPostItTop {
  background: #6b6d74;
  width: 100%;
  height: 24px;
}
.emptyPostIt {
  border-radius: 4px;
  overflow: hidden;
  margin: 2px;
}
.researchPostIt {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr) [2];
  grid-template-columns: repeat(2, 1fr);
}
.researchPostItTitle {
  margin-top: 16px;
  margin-bottom: 8px;
}
.researchPain {
  -ms-grid-column: 1;
  grid-column: 1;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr) [2];
  grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: (1fr) [3];
  grid-template-rows: repeat(3, 1fr);
}
.researchPain > :nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}
.researchPain > :nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
}
.researchPain > :nth-child(3) {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
}
.researchPain > :nth-child(4) {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
}
.researchPain > :nth-child(5) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}
.researchPain > :nth-child(6) {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
}
.researchPain p {
  margin: 4px;
}
.researchQuestions {
  -ms-grid-column: 1;
  grid-column: 1;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr) [2];
  grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: (1fr) [3];
  grid-template-rows: repeat(3, 1fr);
}
.researchQuestions > :nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}
.researchQuestions > :nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
}
.researchQuestions > :nth-child(3) {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
}
.researchQuestions > :nth-child(4) {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
}
.researchQuestions > :nth-child(5) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}
.researchQuestions > :nth-child(6) {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
}
.researchQuestions p {
  margin: 4px;
}
.pinkPostIt {
  background: #eca18d;
  color: #fff;
  border-radius: 4px;
  overflow: hidden;
  margin: 2px;
}
.pinkPostItTop {
  background: #db9683;
  width: 100%;
  height: 24px;
}
.yellowPostIt {
  background: #efad27;
  color: #fff;
  border-radius: 4px;
  overflow: hidden;
  margin: 2px;
}
.yellowPostItTop {
  background: #e99019;
  width: 100%;
  height: 24px;
}
.expZone03 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 32px (1fr) [3] 32px;
  grid-template-columns: 32px repeat(3, 1fr) 32px;
  position: relative;
}
.expMoodBoard {
  -ms-grid-column: 1;
  grid-column: 1;
  margin-top: 64px;
}
.expMoodBoard img {
  width: 100%;
  margin-top: 16px;
}
.expColours {
  -ms-grid-column: 1;
  grid-column: 1;
  margin-top: 64px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr) [5];
  grid-template-columns: repeat(5, 1fr);
}
.expColours h3 {
  grid-column: 1 / span all;
  margin-bottom: 16px;
}
.expColoursSig {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / span 2;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr) [2];
  grid-template-columns: repeat(2, 1fr);
}
.expColoursSig p {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / span 2;
  margin-bottom: 8px;
}
.accentColour {
  background: #d96e1e;
  color: #fff;
  border-radius: 4px;
  overflow: hidden;
  margin: 2px;
  height: 128px;
}
.accentColour p {
  margin: 4px;
}
.backgroundColour {
  background: #fffbf2;
  color: #000;
  border-radius: 4px;
  overflow: hidden;
  margin: 2px;
  height: 128px;
}
.backgroundColour p {
  margin: 4px;
}
.expColoursLoc {
  -ms-grid-column: 3;
  -ms-grid-column-span: 3;
  grid-column: 3 / span 3;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr) [3];
  grid-template-columns: repeat(3, 1fr);
}
.expColoursLoc p {
  grid-column: 1 / span all;
  margin-bottom: 8px;
}
.seasideColour {
  background: #1ec6d9;
  color: #fff;
  border-radius: 4px;
  overflow: hidden;
  margin: 2px;
  height: 128px;
}
.seasideColour p {
  margin: 4px;
}
.parksColour {
  background: #768c45;
  color: #fff;
  border-radius: 4px;
  overflow: hidden;
  margin: 2px;
  height: 128px;
}
.parksColour p {
  margin: 4px;
}
.cityColour {
  background: #bf9a78;
  color: #fff;
  border-radius: 4px;
  overflow: hidden;
  margin: 2px;
  height: 128px;
}
.cityColour p {
  margin: 4px;
}
.expDesign {
  -ms-grid-column: 1;
  grid-column: 1;
  margin-top: 64px;
}
.expDesign img {
  margin-top: 16px;
  width: 100%;
}
.expConclusion {
  -ms-grid-column: 1;
  grid-column: 1;
  margin-top: 64px;
}
.expFeedback {
  -ms-grid-column: 1;
  grid-column: 1;
  margin-top: 64px;
}
.expFeedbackCont {
  margin-top: 16px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 128px 16px 1fr;
  grid-template-columns: 128px 1fr;
  -ms-grid-rows: 1fr;
  grid-template-rows: 1fr;
  -webkit-column-gap: 16px;
  -moz-column-gap: 16px;
  column-gap: 16px;
}
.expFeedbackCont > :nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}
.expFeedbackCont > :nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}
.expFeedbackName {
  -ms-grid-column: 1;
  grid-column: 1;
}
.expFeedbackName a {
  -ms-grid-column: 1;
  grid-column: 1;
}
.expFeedbackName img {
  width: 100%;
  border-radius: 100%;
  -webkit-box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
}
.expFeedbackComs {
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row-align: end;
  align-self: end;
}
.crTitle {
  -ms-grid-column: 1;
  grid-column: 1;
  margin-top: 64px;
}
.crBriefing {
  -ms-grid-column: 1;
  grid-column: 1;
  margin-top: 64px;
}
.crLogo {
  -ms-grid-column: 1;
  grid-column: 1;
  margin-top: 64px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr) [3];
  grid-template-columns: repeat(3, 1fr);
}
.crRequirements {
  -ms-grid-column: 1;
  grid-column: 1;
  margin-top: 64px;
  margin-right: 16px;
}
.crMoodBoard {
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2 / span 2;
  margin-top: 64px;
  margin-left: 16px;
  width: 100%;
}
.crMoodBoard p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.crMoodBoard img {
  width: 100%;
}
.crProcess {
  -ms-grid-column: 1;
  grid-column: 1;
  margin-top: 64px;
}
.crProcess img {
  margin-top: 16px;
  width: 100%;
  background-color: #fff;
  padding: 10px;
  border-radius: 10px;
}
.crStationary {
  -ms-grid-column: 1;
  grid-column: 1;
  margin-top: 64px;
}
.crStationary img {
  width: 100%;
  margin-top: 16px;
}
.crPictures {
  -ms-grid-column: 1;
  grid-column: 1;
  margin-top: 64px;
}
.crPicturesImg {
  margin-top: 64px;
  width: 100%;
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-column-gap: 4px;
  grid-row-gap: 4px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.crPicturesImg img {
  width: 100%;
}
.crOnline {
  -ms-grid-column: 1;
  grid-column: 1;
  margin-top: 64px;
}
.crOnlineCnt {
  margin-top: 16px;
  position: relative;
  padding-bottom: 33%;
  overflow: hidden;
}
.crOnlineCnt img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.crResult {
  -ms-grid-column: 1;
  grid-column: 1;
  margin-top: 64px;
}
.crComment {
  -ms-grid-column: 1;
  grid-column: 1;
  margin-top: 64px;
  margin-bottom: 64px;
}
.expoTitle {
  -ms-grid-column: 1;
  grid-column: 1;
  margin-top: 64px;
}
.expoVideosTitle {
  -ms-grid-column: 1;
  grid-column: 1;
  margin-top: 64px;
}
.expoVideosCnt {
  -ms-grid-column: 1;
  grid-column: 1;
  margin-top: 16px;
  width: 100%;
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-column-gap: 4px;
  grid-row-gap: 4px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.expoMotionTitle {
  -ms-grid-column: 1;
  grid-column: 1;
  margin-top: 64px;
}
.expoMotionCnt {
  -ms-grid-column: 1;
  grid-column: 1;
  margin-top: 16px;
  margin-bottom: 64px;
  width: 100%;
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-column-gap: 4px;
  grid-row-gap: 4px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.expoPrintTitle {
  -ms-grid-column: 1;
  grid-column: 1;
  margin-top: 64px;
}
.expoPrintCnt {
  -ms-grid-column: 1;
  grid-column: 1;
  margin-top: 16px;
  margin-bottom: 64px;
  width: 100%;
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  grid-column-gap: 4px;
  grid-row-gap: 4px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.expoPrintCnt img {
  width: 100%;
}
.expoSocialTitle {
  -ms-grid-column: 1;
  grid-column: 1;
  margin-top: 64px;
}
.expoSocialCnt {
  -ms-grid-column: 1;
  grid-column: 1;
  margin-top: 16px;
  margin-bottom: 64px;
  width: 100%;
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-column-gap: 4px;
  grid-row-gap: 4px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.expoSocialCnt img {
  width: 100%;
}
.backgroundVideo {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 100%;
  z-index: -1;
}
.videoWrapper {
  position: relative;
  padding-bottom: 56.25%;
}
.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
@media (prefers-color-scheme: dark) {
  body {
    background: #000 none repeat scroll 0 0;
    color: var(--day);
  }
  .button {
    color: var(--night);
    background: var(--day);
  }
  .buttonHome {
    color: var(--night);
    background: var(--day);
  }
  box {
    background-color: var(--night);
  }
  box2 {
    background-color: var(--night);
  }
  boxFooter {
    background-color: var(--night);
  }
  gradient {
    background: var(--nightGradient);
  }
  blissPopint svg {
    fill: #fff;
  }
}
@media screen and (max-width: 1045px) {
  cont {
    -ms-grid-columns: minmax(var(--margin), 1fr) var(--margin)
      minmax(var(--margin), 1fr);
    grid-template-columns: minmax(var(--margin), 1fr) minmax(var(--margin), 1fr);
  }
  gradient {
    display: none;
  }
}
@media screen and (max-width: 800px) {
  h1 {
    font-size: 3rem;
  }
  .left,
  .right {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / span 2;
  }
  .explorerTxt p {
    margin-top: 770px;
  }
  .tryit {
    margin-top: 50px;
  }
  iphone {
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  iPhone iframe {
    right: calc(var(--pading) + 50% - 190px);
    top: calc(var(--pading) + 221px);
  }
}
@media screen and (max-width: 566px) {
  cont {
    zoom: 0.85;
  }
  h1 {
    font-size: 2rem;
  }
  h2 {
    font-size: 1.875rem;
  }
  p {
    font-size: 1rem;
  }
  rustic img {
    width: 100%;
    height: 100%;
  }
  exponential {
    -ms-flex-line-pack: center;
    align-content: center;
  }
  exponential img {
    width: 100%;
    height: 100%;
  }
  appleWatch img {
    width: 100%;
    height: 100%;
  }
  faceFilter img {
    width: 100%;
    height: 100%;
  }
  innerShell {
    width: 100%;
    height: 100%;
  }
  innerShell img {
    width: 100%;
    height: 100%;
  }
  blissPopint svg {
    width: 100%;
    height: var(--pading);
  }
  risingSun img {
    width: 100%;
    height: 100%;
  }
}
