.footer {
  display: flex;
  grid-row: 3;
  grid-column: 1;
  align-items: center;
  justify-content: center;
  margin-top: var(--margin);
  padding: 4px 8px;
  background-color: var(--color-background-alpha);
  border-radius: 4px;
}

.footer > * {
  margin: none;
  font-weight: var(--font-regular);
  font-size: 0.7862rem;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  text-decoration: none;
}

.footer a {
  margin: 0 0.25rem;
}
