* {
  margin: 0;
  padding: 0;
  color: white;
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-weight: 700;
  font-style: normal;
}

*:focus {
  outline: none;
}

body {
  background-color: #3f3f3f;
}

h1 {
  font-size: 40px;
}

ul li {
  list-style: none;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  margin: 0;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 20px;
  height: calc(100vh - 2rem);
  max-width: 1024px;
  margin: 0 auto;
  padding: 1rem;
}

.logo {
  grid-column: 1;
  grid-row: 1;
  display: flex;
  align-items: end;
  padding-bottom: 100px;
  gap: 10px;
}

.logo img {
  width: 160px;
}

.menu {
  grid-column: 1;
  grid-row: 2;
  display: flex;
}

.menu ul {
  display: flex;
  flex-direction: column;
  gap: 9px;
}

.menu button {
  width: 100%;
  max-width: 200px;
  text-align: left;
  background-color: transparent;
  background-image: none;
  border: none;
  padding: 10px 30px;
  cursor: pointer;
  font-size: 32px;
}

.menu ul li:nth-child(1) button {
  transform: skew(15deg) translate(15px, 0px);
}

.menu ul li:nth-child(2) button {
  transform: skew(15deg) translate(37px, 0px);
}

.menu ul li:nth-child(3) button {
  transform: skew(15deg) translate(59px, 0px);
}
.menu ul li button p {
  transform: skew(-15deg) !important;
}

.menu button:hover,
.menu button:focus,
.selected {
  background: linear-gradient(90deg, #33ccff, #33ccff00 90%) !important;
}

.content {
  grid-column: 2;
  grid-row: 1 / span 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.intro {
  display: flex;
  max-width: calc(100vw - 40px);
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 10px;
  padding: 20px;
  border-radius: 15px;
  background-color: #33ccffbf;
  backdrop-filter: blur(5px);
  font-size: 20px;
}

.content a {
  padding: 10px;
  background-color: #66cc99;
  border: none;
  border-radius: 10px;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 20px;
  text-decoration: none;
}

.content a:hover,
.content a:focus {
  background-color: #5be29f;
}

.connect {
  align-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 20px;
  border-radius: 15px;
  background-color: #33ccffbf;
  backdrop-filter: blur(5px);
  font-size: 20px;
}

.connect ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.hidden {
  display: none !important;
}

@media (max-width: 768px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }

  .menu {
    grid-row: 2;
  }

  .content {
    grid-column: 1;
    grid-row: 3;
  }
}
