.outline {
  display: block;
  position: relative;
  margin-left: 4px;
}

.outline::after {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 10;
  border-right: 0px solid var(--color-grey);
  border-bottom: 0px solid var(--color-grey);
  border-left: 0px solid var(--color-grey);
  width: calc(100% - 4px);
  height: 5px;
  content: '';
}

.outline:hover::after,
.outline:focus-within::after {
  border-right: 2px solid var(--color-grey);
  border-bottom: 2px solid var(--color-grey);
  border-left: 2px solid var(--color-grey);
}

.label {
  display: flex;
  position: relative;
  top: 0;
  left: 0;
  align-items: center;
  border: 0px solid var(--color-grey);
  border-radius: 1px;
  padding: 0px 20px;
  width: 100%;
  color: var(--color-text);
  font-weight: var(--font-bold);
  font-size: 1.125rem;
  line-height: 1.75rem;
  letter-spacing: 2px;
  text-align: center;
  text-transform: uppercase;
}

.area {
  display: flex;
  position: relative;
  z-index: 20;
  transition: transform 250ms ease-out;
  cursor: pointer;
  padding: 5px;
}

.area::before,
.area::after {
  position: absolute;
  z-index: 20;
  transition: transform 250ms ease-out;
  width: calc(100% - 4px);
  height: 5px;
  content: '';
}

.area::before {
  top: 0;
  left: 0;
  border-top: 0px solid var(--color-grey);
  border-right: 0px solid var(--color-grey);
  border-left: 0px solid var(--color-grey);
}

.area::after {
  right: 0;
  bottom: 0;
  border-right: 2px solid var(--color-grey);
  border-bottom: 2px solid var(--color-grey);
  border-left: 2px solid var(--color-grey);
}

.area:hover,
.area:focus-within {
  transform: translate(-6px, -5px);
}

.area:hover::before,
.area:focus-within::before {
  top: 0;
  left: 0;
  border-top: 2px solid var(--color-foreground);
  border-right: 2px solid var(--color-foreground);
  border-left: 2px solid var(--color-foreground);
}

.area:hover::after,
.area:focus-within::after {
  right: 0;
  bottom: 0;
  border-right: 2px solid var(--color-foreground);
  border-bottom: 2px solid var(--color-foreground);
  border-left: 2px solid var(--color-foreground);
}

.area:hover > .label,
.label:focus-visible {
  outline: -webkit-focus-ring-color none 0px;
  outline-offset: 0px;
  background-color: var(--color-foreground);
  color: var(--color-text-alt);
}

.area:active {
  transform: translate(0px, 0px);
  z-index: 20;
  transition: transform 50ms ease-out;
}