.circle,
.mark,
.color,
.background {
  transition: var(--transition);
}

.circle {
  fill: var(--color-background);
  stroke: var(--color-foreground);
}

.mark {
  fill: var(--color-background);
}

.background {
  fill: var(--color-background);
  stroke: var(--color-foreground);
  height: 550px;
}

.logo:hover .circle,
.logo:focus-within .circle,
.logo:hover .mark,
.logo:focus-within .mark,
.logo:hover .color,
.logo:focus-within .color {
  transform: translate(var(--translate), var(--translate));
}

.logo:hover .background,
.logo:focus-within .background {
  height: 462px;
}

.logo:focus-within {
  outline: -webkit-focus-ring-color none 0px;
  outline-offset: 0px;
}
