.button {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  cursor: pointer;
  margin: none;
  box-shadow: 1px 1px 0px hsla(0, 0%, 0%, 0.75);
  border: 1px solid hsla(0, 0%, 75%, 0.75);
  border-radius: 2px;
  background-color: hsl(0, 0%, 100%);
  padding: 1px 12px 2px;
  font-weight: 800;
  font-size: 0.75rem;
  line-height: 1.4;
  text-decoration: none;
}
.button:active {
  transform: translate(1px, 1px);
  box-shadow: 0px 0px 0px hsla(0, 0%, 0%, 0.75);
  background-color: hsl(0, 0%, 93%);
  text-decoration: none;
}
.button:hover {
  text-decoration: none;
}

.button:focus-visible {
  outline: -webkit-focus-ring-color none 0px;
  outline-offset: 0px;
  border: 1px solid hsla(195, 100%, 60%, 0.75);
  background-color: hsl(195, 100%, 93%);
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  .button {
    color: #000000;
  }
}
