.container {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: auto;
  /* gap: 8px; */
}
.container > * {
  padding: 1rem;
  border: 1px solid hsla(0, 0%, 75%, 0.75);
}
.aside_rustic {
  display: flex;
  justify-content: center;
  height: 100%;
}
.aside_rustic img {
  max-width: 200px;
}
.aside_expo {
  display: flex;
  justify-content: center;
  height: 100%;
}

.aside_expo img {
  max-width: 512px;
}
