.tag {
	display: inline-flex;
	height: 22px;
	width: fit-content;
	border-radius: 11px;
	border: 1px solid var(--color-grey);
	padding: 10px;
	justify-content: center;
	align-items: center;
	font-family: "M PLUS Rounded 1c", sans-serif;
	font-size: 0.8333rem;
	font-weight: var(--font-medium);
	color: var(--color-alt);
}
