.about {
  position: relative;
  margin-top: 150px;
  padding: 0px 20px;
}

.text {
  display: flex;
  position: relative;
  grid-column: 1 / 7;
  flex-direction: column;
  gap: 10px;
  z-index: 10;
  backdrop-filter: blur(2px);
  border-radius: 4px;
  background-color: var(--color-grey);
  padding: 20px;
  max-width: 500px;
  color: #000000;
}

.photo {
  display: flex;
  position: absolute;
  top: -150px;
  right: 0;
  background-color: var(--color-grey);
  width: 100%;
  height: 300px;
}

.photo img {
  width: 100%;
  height: 100%;
  overflow: hidden;
  object-fit: cover;
}

.flex {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  height: 100%;
}

.body {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

@media screen and (min-width: 1064px) {
  .about {
    padding: 0px;
  }
}

@media screen and (min-width: 600px) {
  .photo {
    max-width: 600px;
  }
  .text {
    grid-column: 2 / 7;
    margin: 0;
  }
}
