.nav {
  display: flex;
  justify-content: space-between;
  margin-bottom: var(--margin);
  padding: 35px 20px;
}

.logo {
  display: flex;
  width: 56px;
  height: 56px;
}

.line {
  flex-grow: 1;
  margin-left: 4px;
  border-bottom: 2px solid var(--color-grey);
}

.menuToggle {
  display: flex;
  align-self: flex-end;
}

.menu {
  display: flex;
  position: absolute;
  top: 100px;
  right: 20px;
  justify-content: flex-end;
  align-self: flex-end;
  z-index: 10;
  border-radius: 4px;
  padding: 10px;
}

.menu::before,
.menu::after {
  position: absolute;
  z-index: 20;
  transition: transform 250ms ease-out;
  width: calc(100% - 4px);
  height: 5px;
  content: '';
}

.menu::before {
  top: 0;
  left: 0;
  border-top: 2px solid var(--color-grey);
  border-right: 2px solid var(--color-grey);
  border-left: 2px solid var(--color-grey);
}

.menu::after {
  right: 0;
  bottom: 0;
  border-right: 2px solid var(--color-grey);
  border-bottom: 2px solid var(--color-grey);
  border-left: 2px solid var(--color-grey);
}

.menu > ul {
  display: flex;
  flex-direction: column;
  gap: 8px;
  backdrop-filter: blur(2px);
  margin-left: 0px;
  background-color: var(--color-grey);
  padding: 10px;
  padding-left: 6px;
}

.menu > ul > li {
  display: inline-block;
}

@media screen and (min-width: 1064px) {
  .nav {
    padding: 35px 0px;
    max-width: 1024px;
  }
}

@media screen and (min-width: 600px) {
  .menuToggle {
    display: none;
  }

  .menu {
    position: relative;
    top: 0px;
    right: 0px;
    background-color: transparent;
    padding: 0px;
  }

  .menu::before,
  .menu::after {
    content: none;
  }

  .menu > ul {
    flex-direction: row;
    gap: 4px;
    margin-left: 4px;
    background-color: transparent;
    padding: 0px;
  }
}
