.gallery {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  gap: var(--padding);
  width: 100%;
}
.gallery > img {
  display: flex;
  align-self: center;
  justify-self: center;
  border-radius: var(--inner-border-radius);
  width: 100%;
  height: 100%;
  object-fit: cover;
}
