.gallery {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: var(--padding);
  width: 100%;
}
.gallery > div {
  position: relative;
  padding-bottom: 56.25%;
}

.gallery > div iframe {
  all: unset;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--inner-border-radius);
  width: 100%;
  height: 100%;
}
