.image {
  border-radius: var(--inner-border-radius);
  background-color: var(--color-background-fixed);
  padding: var(--padding);
  width: 100%;
  height: auto;
}

.webImage {
  position: relative;
  border-radius: var(--inner-border-radius);
  background-color: var(--color-background-fixed);
  padding: var(--padding);
  padding-bottom: 33%;
  overflow: hidden;
}

.webImage img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
