.container {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: auto;
  gap: 0.5rem;
}
.container > * {
  margin: 0 0.5rem;
  border: 2px solid hsla(0, 0%, 75%, 0.75);
  border-radius: 4px;
  padding: 1rem;
}
.container img {
  width: 100%;
  height: auto;
}

.title {
  font-size: 1.9rem;
  line-height: 1;
}
