.container {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: auto;
  gap: 0.5rem;
}
.container > * {
  margin: 0 0.5rem;
  padding: 1rem;
  border: 2px solid hsla(0, 0%, 75%, 0.75);
  border-radius: 4px;
}
.container img {
  width: 100%;
  height: auto;
}

.title {
  font-size: 1.9rem;
  line-height: 1;
}

.logo_process {
  width: 100%;
  margin-top: 1rem;
  padding: 10px;
  background-color: hsl(0, 0%, 100%);
  border-radius: 10px;
}

.online {
  position: relative;
  padding-bottom: 33%;
  overflow: hidden;
}
.online img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
